* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.top {
    background-color: #4d8d96;
    padding: 10px 10px;
    color: white;
}

.middle {
    padding: 20px 10px;
}

.column {
    display: flex;
    height: auto;
}

img {
    width: 100%;
    padding: 10px 0;
}

.bottom {
    background-color: black;
    padding: 10px 10px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}